src/TestPhotoService2/TestPhotoService2/obj
src/TestPhotoService2/TestPhotoService2/bin
src/TestPhotoService2/.idea/.idea.TestWeatherService2/.idea
src/TestPhotoService2/TestWeatherService2/obj
src/TestPhotoService2/TestWeatherService2/bin
